<div class="container" ng-controller="noteController">

	<div class="col-md-4 col-md-pull-4" >

		<h3>Your Current Notes</h3>

		<div class="list-group">

			<div ng-repeat="note in notes">

				<a href="/#/notes" ng-click="updateFields(note.id)" class="list-group-item" ng-style="{'background-color': note.color  }">{{ note.title }}</a>
				


			</div>
		</div>
	</div>
	

	<div class="col-md-5">

  	<h3>Create/Update/Read  A  Note</h3>

    <form name="noteForm" form class="noteForm">

  		<input type="text" class="form-control" placeholder="Title" ng-model="noteTitle" required>	
   
     		<textarea class="form-control" rows="20" id="comment" placeholder="Content" ng-model="noteText"></textarea>

	  			<button class="btn btn-success" ng-click="storeNote()" ng-disabled="noteForm.$invalid">Save Note</button>

	  			<button class="btn btn-danger" ng-disabled="noCurrentNote" ng-click="removeNote()">Delete Note</button>
	  			
	  			<input type="color" ng-model="noteColor" value="#FFFFFF">

  	</form>

  	<progress-bar></progress-bar>

  </div>
</div>